* {
    margin: 0;
    padding: 0;
    font-family: Monserrat, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and ( max-widht: 1279px ) and( min-widht:768px ) {
    .container {
        width: 90vw;
    }
}

@media screen and (max-widht: 767px) {
    .container {
        width: auto;
        margin: 0 15px;
    }
}